.navbar{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
/* Center the brand name */
.navbar-brand {
    font-weight: bold;
}
/* Style the navigation links */
.navbar-nav .nav-item {
    margin-right: 10px;
}
.navbar-nav .nav-link {
    color: #333;
    position: relative;
    display: inline-block;
}
.navbar-nav .nav-link .fas {
    margin-right: 5px;
}

.nav-item.active .nav-link {
    color: #007bff;
    font-weight: bold;
}

.cart-badge{
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    position: absolute;
    top: 0px;
    right: 2px;
    transform: translateX(50%);
    z-index: 1;
}

.navbar .nav-link .fas-shopping-cart {
    // position: relative;
    margin-top: 5px;
    margin-bottom: auto;
}

// correct positioning for mobile view and collapsing
.navbar-toggler {
    border: none;
}
.navbar-collapse {
    justify-content: flex-end;
}
@media (max-width: 991px) {
    .navbar-nav .nav-link{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}
// ensure the navbar doesn't overlap with the content 
body{
    padding-top: 50px; /* Adjust this value based on your navbar height */
}