.navbar{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
/* Center the brand name */
.navbar-brand {
    font-weight: bold;
}
/* Style the navigation links */
.navbar-nav .nav-item {
    margin-right: 10px;
}
.navbar-nav .nav-link {
    color: #333;
}
.navbar-nav .nav-link .fas {
    margin-right: 5px;
}